@model MediaFile

@{
    ViewData["Title"] = "Media Info";
    int refCount = ViewBag.ReferenceCount ?? 0;
}
<div class="page-header blank"></div>
@if (refCount > 0)
{
    <p class="text-danger">
        You tried to delete a media item which has @refCount active references.
    </p>
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="panel-body">
                <h4>Media Properties</h4>
                <small>@Html.DisplayNameFor(model => model.HashCode) (SHA256): @Html.DisplayFor(model => model.HashCode)</small>
                <hr />
                @if (Model.HasMedia)
                {
                    if (Model.IsImage)
                    {
                        <img src="@Model.MediaUrl" alt="@Model.FileName" class="img-responsive pull-left" width="80" />
                    }
                    else if (Model.HasMedia && Model.IsAudio)
                    {
                        <a target="_blank" href="@Model.MediaUrl" class="btn btn-success btn-xs pull-left">
                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                        </a>
                    }
                    else if (Model.IsVideo)
                    {
                        <i class="glyphicon glyphicon-facetime-video btn-lg pull-left" aria-hidden="true"></i>
                    }
                }
                <dl class="dl-horizontal pull-left">
                    <dt>
                        @Html.DisplayNameFor(model => model.FileName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FileName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ContentType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ContentType)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Length)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LengthDisplay) (@Model.Length.ToString("N") Bytes)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>
                    <dd>
                        @Model.DateCreated.ToString("dd-MM-yyyy @ HH:mm")
                    </dd>
                </dl>
            </div>
            <div class="panel-footer">
                <a asp-action="Index" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back to List</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
            </div>
        </div>
    </div>
</div>